html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    z-index: 0;
    background-image: url("../images/site/small_check.jpg");
    font-family: 'Audiowide', cursive;
}

h1 {
    font-size: 20px;
}

ul {
    list-style-type: none;
}

header {
    margin: 0 auto;
    width: 90%;
    z-index: 1;
    background-color: #ffffff;
    border-top: #4c96d7 solid thick;
    border-left: #4c96d7 solid thick;
    border-right: #4c96d7 solid thick;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    div {
        margin-right: 10px;
        display: flex;
        justify-content: space-between;
        // padding-bottom: 15px;
        font-size: 15px;
    }
    img {
        width: 40%;
        height: 80px;
    }

    nav {
        background-color: #3a3a3a;
        color: #ffffff;
        padding-top: 5px;
        padding-bottom: 5px;
        text-decoration: none;
        
        ul {
            padding-left: 6px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        li {
            list-style-type: none;
            display: inline;
            font-size: 25px;
            margin-right: 4px;

            a {
                font-size: 15px;
                text-decoration: none;
                color: #ffffff;
            }
        }
    }
}

.headerContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 10px;
}

.headerAccount {
    font-size: 15px;
    // padding-top: 20px;
    margin-right: -15px;
    text-decoration: none;
    color: black;
}

main {
    margin: 0 auto;
    // padding-top: 20px;
    // padding-bottom: 20px;
    padding: 20px 10px 20px 10px;
    width: 90%;
    z-index: 1;
    background-color: #ffffff;
    border-left: #4c96d7 solid thick;
    border-right: #4c96d7 solid thick;

    h1 {
        margin: 0;
    }
}

a {
    color: black;
}

fieldset {
    border: 4px solid;
    margin-bottom: 20px;
    width: 98%;
    border-radius: 8px;
}

.classDropdown {
    font-family: 'Audiowide', cursive;

    border: 3px#4c96d7;
    border-style: none none solid none;
}

.formContentAreaAdmin {
    padding-left: 0px;
}

.formContentArea {
    padding-left: 20px;

    form {
        display: block;
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .makeLabel {
        display: block;
    }

    input {
        display: block;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 2px solid #4c96d7;
    }

    textarea {
        display: block;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 2px solid #4c96d7;
    }

    select {
        margin-bottom: 10px;
    }

    .button {
        text-decoration: none;
        font-family: 'Audiowide', cursive;
        background-color: #a6cbeb;
        border: 2px solid #4c96d7;
        border-radius: 8px;
        margin-bottom: 10px;
        padding: 2px;
    }
}

.deloreanParent {
    position: relative;
    top: 0;
    left: 0;
}

.deloreanInfo {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    color: #4c96d7;

    h3 {
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    img {
        display: block;
        margin: auto;
        width: 50%;
        margin-top: 150px;
    }
}

.deloreanPic {
    position: absolute;
    top: 30px;
    z-index: 0;
    width: 100%;
    height: auto;
}

.upgradeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .2fr 1fr .2fr;
    justify-content: center;
    grid-gap: 8px;
    margin: 0 5px 0 5px;
}

.box1 {
    grid-column: 1;
    grid-row: 1;
    background-color: #4c96d7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    grid-column: 2;
    grid-row: 1;
    background-color: #4c96d7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3 {
    grid-column: 1;
    grid-row: 3;
    background-color: #4c96d7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box4 {
    grid-column: 2;
    grid-row: 3;
    background-color: #4c96d7;
    display: flex;
    align-items: center;
    justify-content: center;

}

.flux {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

.fluxCaption {
    grid-column: 1;
    grid-row: 2;
    margin: auto;
}

.flame {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    background-color: #4c96d7;
}

.flameCaption {
    grid-column: 2;
    grid-row: 2;
    margin: auto;
}

.stickers {
    grid-column: 1;
    grid-row: 3;
    margin: auto;
    background-color: #4c96d7;
}

.stickersCaption {
    grid-column: 1;
    grid-row: 4;
    margin: auto;
}

.hub {
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    background-color: #4c96d7;
}

.hubCaption {
    grid-column: 2;
    grid-row: 4;
    margin: auto;
}

footer {
    margin: 0 auto;
    width: 90%;
    z-index: 1;
    background-color: #ffffff;
    border-left: #4c96d7 solid thick;
    border-right: #4c96d7 solid thick;
    border-bottom: #4c96d7 solid thick;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 15px;

    hr {
        margin: 0;
        height: 5px;
        background-color: #3a3a3a;
    }

    h4 {
        text-align: center;
    }
}

#inv-display {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#inv-display li {
    margin-bottom: .5em;
    border: 3px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
    width: 90%;
    text-align: center;
    border-radius: 8px;
}

#inv-display li img {
    max-width: 100%;
}
hr {
    color: black;
    height: 3px;
    background-color: black;
}

#vehicleUl {
    padding-left: 0px;
}

#vehicleDisplay {
    padding-left: 0px;
    display: grid;
    grid-template-columns: 90%;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 10px;
    img {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
    }
    #invGrid {
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
        grid-column: 1;
        grid-row: 2;
        span {
            border-top: 2px solid black;
            background-color: lightgray;
            padding: 15px;
            h2 {
                margin-top: 0px;
            }
            #details {
                grid-row: 1;
            }
            #description {
                grid-row: 2;
            }
            #color {
                grid-row: 3;
            }
            #price {
                grid-row: 4;
            }
        }
    }
}

//Search Display 

.searchIcon {
    text-decoration: none;
}

.search {
    width: 90%;
    height: 30px;
}

.pagination  {
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 40px;
    li {
        
        justify-content: space-between;
    }
}